
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body
{
  font-family: "arial", sans-serif;
	font-size: 1.1em;
	background-color: #FAFAFA;
  font-size: 1.1em;
  margin: 0;
}

hr {
  border: none;
  border-bottom: 1px solid rgba(0,0,0,.08);
  margin-bottom: 2em;  
  width: 50%
}






header
{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5em;
  margin-top: 1em;
}

header p
{
  margin: 0;
  padding: 0;
  font-size: 1.3em;
  line-height: 125%;
  font-family: "Outfit", sans-serif;
}

header a
{
  color:black;
  text-decoration: none;
}

h1
{
  font-size: 3em;
  margin: 0;
  line-height: 100%;
  font-family: "Outfit", sans-serif;
}





h1, h2, h3, h4
{
  font-family: "Outfit", sans-serif;
  margin-bottom: 0;
}

h2, h3
{
  border-bottom: 2px solid #A1B3D1;
}

h2
{
  font-size: 1.8em;
}

h3
{
  font-size: 1.4em;
  margin-top: 2.5em;
}

h4
{
  font-size: 1.4em;
  padding-top: 0.5em;
}






.wrap-1
{
  display: flex;
  width: 90%;
  margin: auto;
  gap: 3.5em;

}

.wrap-2
{
  border-left: 1px solid rgba(0,0,0,.08);
  width: 100%;
  padding-left: 1em;
}





.accueil img 
{
  display: block;
  margin: 5em auto;
}





.external-link::after
{
	content: "\2197";
	font-size:0.9em;
	display: inline-block;
	margin-left: 0.2em;

}





/*Style catégorie produit */
	.liste-categorie
	{
		display: flex;
		justify-content: center;
		gap: 15em;
		text-align: center;
	}

	.liste-categorie ul 
	{
		box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
		padding: 0 1em 0 1em;
		list-style-type: none;
		background-color: white;
    line-height: 150%;
	}
		
	.image-produit
	{
		height: 275px;
	}

	.image-guitare
	{
		height: 175px;
	}

	#pianos, #saxophones, #cordes-a-piano, #anches-saxophone
	{
		padding: 0 1em 0.5em 1em;
		background-color: #EDEDF3;
	}


	#guitares, #hautbois, #cordes-a-guitare, #anches-hautbois
	{
		padding: 0 1em 0.5em 1em;
		background-color: #F3F0ED;
	}

	#basses, #cordes-a-basse
	{
		padding: 0 1em 0.5em 1em;
		background-color: #F0F3ED;
	}
/*Style catégorie produit */




.credits ul
{
  list-style-type: none;
}

footer
{
    text-align: center;
}

