

/* -------------- STYLES NAVIGATION -------------- */

  nav
  {
    margin: 0;
    font-family: "Outfit", sans-serif;
    width: 17%;
		position: sticky;
    top: 1em; 
    align-self: flex-start; 
  }

  nav a
  {
    color: black;
    text-decoration: none;
  }

  nav ol
  {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.75em;
  }

  .titre-menu-1
  {
    display: block;    
    background-color: #A1B3D1;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0.25em 0;
  }

  .titre-menu-1-1
  {
    display: block;  
    border-top: 1px solid #A1B3D1;
    padding: 0.2em 0;
    font-weight: 600;
  }

  .titre-menu-1-1:hover
  {
    background-color: #CFD8E7;
  }

  .titre-menu-1-1-1
  {
    display: block;
    padding: 0.1em 0;
  }

  .titre-menu-1-1-1:hover
  {
    background-color: #EEF1F7;
  }

  nav > ol:first-child,
  nav > ol:last-child
  {
    text-align: center;
    border: 2px solid #A1B3D1;
  }

/* -------------- STYLES NAVIGATION -------------- */